{% extends 'base.html'%}

{% load static %}
{% block contents %}


  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container about-title">
            <h4>Payment Options</h4>
        </div>
    </div><!-- End Page Title -->

    <div class="main_content">
        <div class="pay_info">
            <h4>Payment Validity And Policy</h4>
            <p style="margin-top: 25px;  word-spacing: 5px; ">
                At Modestdailyfashion, we prioritize your security and peace of mind during every online transaction. 
                We utilize advanced encryption technology to protect your personal and financial information, 
                ensuring that your data is safe from unauthorized access. Our user-friendly interface is designed 
                to make your experience seamless and efficient, allowing you to complete your transactions with 
                confidence. Rest assured, our dedicated support team is always here to assist you, providing a 
                trustworthy and reliable service every step of the way.
                Your satisfaction and security are our top priorities <br><br>
                However, We want to assure you that all transfers made through our 
                platform are designed with security and integrity in mind. Once a transfer is initiated, 
                it cannot be reversed until proper verification and authorization measures are completed. 
                This ensures that all transactions are handled responsibly and protects both parties involved. 
                We take these precautions seriously to maintain trust and security within our system, so you can 
                transact with confidence, knowing that your funds are safeguarded. 
                If you have any questions or need assistance, our support team is always here to help. <br><br>
                For More enquiry and clarity, you can actually contact us at Modestdailyfashion through our contact page,
                email, or social handles displayed at the bottom of each page.

            </p>
        </div>
    </div>



</main>

<!-- Main JS File -->
<script src="{% static 'js/main.js'%}"></script>



    
    


{% endblock%}