{% extends 'base.html'%}

{% load static %}
{% block contents %}


  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="container about-title">
        {% comment %} <h4>Billing Information</h4> {% endcomment %}
    </div>
</div><!-- End Page Title -->

<div class="billing-body">
    <div class="billing-form">
        <div class="container billing-title">
            <h5>Process Order</h5>
          </div>
            
    </div>
    
</div>

</main>

<!-- Main JS File -->
<script src="{% static 'js/main.js'%}"></script>



    
    


{% endblock%}